@media screen and (max-width:1024px) {
        .container-5 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .item-5 {
        margin: 10px;
    }
    .item-1 p {
        margin-top: 20px;
        line-height: 40px;
    }
}

@media screen and (max-width:768px) {
    .container-1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .item-1:nth-of-type(1) {
        margin-top: 50px;
    }
    .container-4 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .item-4 {
        margin: 10px;
    }
    .title-section {
        margin-left: 40px;
    }
}

@media screen and (max-width:480px) {
    .navbar {
        width: 100%;
    }
    .item-1:nth-of-type(1) {
        margin-top: 130px;
    }
    .item-1 h1 {
        font-size: 30px;
    }
    .item-1 p {
        font-size: 17px;
    }
    .item-1:nth-of-type(2) {
        margin-top: 30px;
    }
    .container-2 h3 {
        font-size: 13px;
    }
    .container-2 ul li p {
        font-size: 10px;
    }
    .container-2 ul li a {
        font-size: 15px;
    }
    .container-3 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr);
    }
    .item-3 {
        margin: 10px;
    }
    .img-platzi {
        width: 50px;
        height: 50px;
    }
    .img-universidad {
        width: 50px;
        height: 50px;
    }
    footer p {
        margin-left: 20px;
    }
    .item-5 p {
        font-size: 12px;
    }
}


@media screen and (max-width:320px) {
    .container-1 {
        margin: 0 auto;
    }
    nav li a {
        margin-left: 20px;
    }
    .item-2 h3 {
        font-size: 10px;
    }
    .img-platzi {
        width: 40px;
        height: 40px;
    }
    .img-universidad {
        width: 40px;
        height: 40px;
    }
    .container-2 ul li a {
        font-size: 12px;
    }
    .container-3 {
        margin-top: 30px;
    }
    .title-section {
        margin-top: 30px;
    }
    .container-5 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4 1fr);
    }
    .item-5 {
        margin: 5px;
        font-size: 10px;
    }
    .item-5 p {
        font-size: 12px;
    }
    footer p {
        margin-left: 20px;
        font-size: 12px;
    }
}